<div style="margin-left: 50px">
  <h3 class="scifi-home-head">Your Favourites</h3>
  <p class="scifi-home-low">Movies</p>
</div>

<div class="wrapper-grid">
  <!-- TODO: Show the list in an *ngIf=showAll -->
  <div *ngFor="let movie of favouriteMovies" class="container">
    <img
      src="https://image.tmdb.org/t/p/w780{{ movie.poster_path }}"
      alt="thumbnail"
      class="thumbnail-img"
    />
    <p class="home-text">{{ movie.name }}</p>
    <p class="home-date">{{ movie.date }}</p>
  </div>
</div>
