.scifi-home-head {
  font-family: Open Sans Regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  color: #fff;
  opacity: 95%;
  margin-top: 50px;
  margin: 0;
}
.scifi-home-low {
  font-family: Open Sans Regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  color: hsla(0, 0%, 100%, .45);
  margin: 0;

}
