<div style="margin-left: 50px">
  <h3 class="scifi-home-head">Science Fiction</h3>
  <p class="scifi-home-low">Top-rated</p>
</div>

<div *ngIf="showAll">
  <div class="wrapper-grid">
    <!-- TODO: Show the list in an *ngIf=showAll -->
    <div *ngFor="let movie of movies" class="container">
      <img
        (click)="handleMovieClickEvent(movie)"
        src="https://image.tmdb.org/t/p/w780{{ movie.poster_path }}"
        alt="thumbnail"
        class="thumbnail-img"
      />
      <p class="home-text">{{ movie.title }}</p>
      <p class="home-date">{{ movie.release_date }}</p>
    </div>
  </div>
</div>

<div *ngIf="selectedMovieId && showDetailedMovie">
  <div class="detailed-movie-card">
    <div class="detailed-movie-thumbnail">
      <img
        src="https://image.tmdb.org/t/p/original/{{ poster }}"
        alt="detailed movie thumbnail"
      />
    </div>
    <div class="detailed-movie-body">
      <span class="detailed-movie-card-title">{{ title }}</span>
      <p class="detailed-movie-date">
        <span>{{ release_date }}</span>
      </p>
      <p class="detailed-movie-card-description">
        {{ overview }}
      </p>
      <div class="movie-reactions">
        <p class="reaction">
          <fa-icon
          [ngClass]="{'active-reaction' : upReactionActive}"
          (click)="saveUpReaction()"
          [icon]="faArrowUp"></fa-icon>
        </p>
        <p class="reaction">
          <fa-icon
          [ngClass]="{'active-reaction' : downReactionActive}"
          (click)="saveDownReaction()"
          [icon]="faArrowDown"></fa-icon>
        </p>
        <p class="reaction">
          <fa-icon
          [ngClass]="{'active-reaction' : starReactionActive}"
          (click)="saveStarReaction()"
          [icon]="faHeart"></fa-icon>
        </p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="noMovies">
  <div class="home-warning">
    <p>
      Sorry, we currently cannot display any movies. Please try again later.
    </p>
  </div>
  <!-- TODO: SHow something cool when there are no movies. -->
</div>

<!-- ///////////////////////////////////////////////////////////////// -->
<!--
        TODO: Put the movie into a component and make sure it's in some sort of a container. On the container, register the click event.
      you could put the click event on the image, that's another way so nothing happens when they click on the title or date.
     -->
<!-- The following will be in a component
    <BasicMovie [movie]="movie" (handleClick)='handleMovieClickEvent($event)'><BasicMovie>
    -->
