<div *ngIf="!noMovies">
  <div style="margin-left: 50px">
    <h3 class="scifi-home-head">Science Fiction</h3>
    <p class="scifi-home-low">Top-rated</p>
  </div>
</div>


<div *ngIf="!noMovies">
  <div class="wrapper-grid">
    <!-- TODO: Show the list in an *ngIf=showAll -->
    <div *ngFor="let movie of movies" class="container">
      <img
        (click)="handleMovieClickEvent(movie)"
        src="https://image.tmdb.org/t/p/w780{{ movie.poster_path }}"
        alt="thumbnail"
        class="thumbnail-img"
      />
      <p class="home-text">{{ movie.title }}</p>
      <p class="home-date">{{ movie.release_date }}</p>
    </div>
  </div>
</div>

<div *ngIf="selectedMovieId && showDetailedMovie">
  <div class="detailed-movie-card">
    <div class="detailed-movie-thumbnail">
      <img
        src="https://image.tmdb.org/t/p/original/{{ movieSelected.poster_path }}"
        alt="detailed movie thumbnail"
      />
    </div>
    <div class="detailed-movie-body">
      <span class="detailed-movie-card-title">{{ movieSelected.title }}</span>
      <p class="detailed-movie-date">
        <span>{{ movieSelected.release_date }}</span>
      </p>
      <p class="detailed-movie-card-description">
        {{ movieSelected.overview }}
      </p>
      <p class="detailed-movie-rating">
        {{ movieSelected.vote_average }} / 10 <span class="imdb">IMDb</span>
      </p>
      <div class="movie-reactions">
        <p class="reaction">
          <fa-icon
            [ngClass]="{ 'active-reaction': upReactionActive }"
            (click)="saveUpvoteReaction()"
            [icon]="faArrowUp"
          ></fa-icon>
        </p>
        <p class="reaction">
          <fa-icon
            [ngClass]="{ 'active-reaction': downReactionActive }"
            (click)="saveDownvoteReaction()"
            [icon]="faArrowDown"
          ></fa-icon>
        </p>
        <p class="reaction">
          <fa-icon
            [ngClass]="{ 'active-reaction': starReactionActive }"
            (click)="saveStarReaction()"
            [icon]="faHeart"
          ></fa-icon>
        </p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="noMovies">
  <div class="noMoviesContainer">
      <div class="noMoviesImage"></div>
    <div class="noMoviesText">
      <p>
        An error has occurred and we're working on it. Please try again later.
      </p>
    </div>
  </div>
</div>

<app-similar-movies *ngIf="showSimilarMovies" [movieId]="movieSelected.id" (movieClicked)="handleSimilarMovieClicked($event)"></app-similar-movies>
<app-fav-movie></app-fav-movie>
