:root {
  --clr-primary: #651fff;
  --clr-gray: #37474f;
  --clr-gray-light: #b0bec5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--clr-gray);
  margin: 2rem;
}

.wrapper-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: center;
  margin: 50px;
}

.container {
  display: block;
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
  text-align: center;
  position: relative;
  height: 250px;
  width: 128px;
  text-align: left;

}
.thumbnail-img {
  width: 8rem;
  clip-path: (60px at center);
  border-radius: 2px;
}
.home-text {
  color: #fff;
  opacity: 95%;
  display: block;
  overflow: hidden;
  width: 128px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 13px;
  font-family: Open Sans Regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  line-height: 24px;
}
.home-date {
  color: hsla(0, 0%, 100%, .45);
  overflow: hidden;
  width: 128px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 13px;
  font-family: Open Sans Regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  line-height: 24px;
}

.scifi-home-head {
  font-family: Open Sans Regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  color: #fff;
  opacity: 95%;
  margin-top: 50px;
}
.scifi-home-low {
  font-family: Open Sans Regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  color: hsla(0, 0%, 100%, .45);

}

/* ///////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////// DETAILED MOVIE CARD ////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////// */
.detailed-movie-card {
  width: 650px;
  height: 350px;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  background: #000;
  margin: auto;
}
.detailed-movie-thumbnail {
  position: relative;
  width: 250px;
  overflow: hidden;
}
.detailed-movie-thumbnail img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.detailed-movie-body {
  width: 400px;
  padding: 2rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: 15px;
}
.detailed-movie-card-title {
  color: #fff;
  font-size: 22px;
  font-family: Open Sans Regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  letter-spacing: 2px;
}
span {
  font-family: Open Sans Regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}
.detailed-movie-card-description {
  font-family: Open Sans Regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}
.detailed-movie-date {
  color: hsla(0, 0%, 100%, .45);

}
